.footer {
    padding: 72px 0 51px;
    background-color: $footer-bg;
    font-size: 14px;
    letter-spacing: 0.7px;

    @media(max-width:991px){
        padding: clamp(35px, 1.085rem + 5.51vw, 72px) 0 clamp(25px, 0.788rem + 3.87vw, 51px);
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media(max-width:940px){
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
    @media(max-width:600px){
        
        text-align: center;
    }

}
.footer__logo {
    margin-top: -12px;
}
.footer__nav {

}
.footer__nav-list {
    display: grid;
    gap: 15px;

}
.footer__social {
    margin-top: 20px;
    display: flex;
    gap: 22px;  

    @media(max-width:600px){
        
        justify-content: center;
    }


}
.footer__email {
    color:$accent;
    font-weight: 700;
}